[submodule "molsys"]
	path = molsys
	url = https://github.com/MOFplus/molsys_rel
[submodule "pylmps"]
	path = pylmps
	url = https://github.com/MOFplus/pylmps_rel
[submodule "mofplus"]
	path = mofplus
	url = https://github.com/MOFplus/mofplus_rel
[submodule "lammps"]
	path = lammps
	url = https://github.com/MOFplus/lammps
